{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-6 mx-auto mt-5">
        <div class="card rounded shadow shadow-lg">
          <div class="card-body">
            <h1 class="card-title text-center">
              Login
            </h1>
            <hr class="my-4 py-0">

            {% include '__errors.html' %}
            {% include '__success.html' %}

            <form action="{{ url_for('login') }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="mb-2">
                <label for="username" class="form-label">
                  Username
                </label>
                <input type="text" class="form-control" id="username" name="username" autofocus=""
                       value="{{ loginForm.username }}" placeholder="Enter your username">
              </div>
              <div class="mb-2">
                <label for="password" class="form-label">
                  Password
                </label>
                <input type="password" class="form-control" id="password" name="password" autofocus=""
                       placeholder="Enter your password">
              </div>
              <div class="text-center mb-1">
                <button type="submit" class="btn btn-success px-3 rounded text-white">
                  Login
                </button>
              </div>
            </form>

            <div class="text-center">
              Don't have an account?
              <a href="{{ url_for('register') }}" class="">
                Register
              </a>
            </div>

            <div class="text-center">
              <a href="{{ url_for('landing') }}" class="">
                Return to Landing
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}